.custom-node {
  display: flex;
  flex-direction: column; /* Establece la dirección de los elementos */
  background-color: white;
  padding: 10px;
}

.custom-node-header {
  text-align: center;
  font-weight: bold;
  color: black;
}

.custom-node-header input{
  background-color: white;
  border: none;
  text-align: center;
  font-weight: bold;
  color: black;
}

.custom-node-row {
  display: flex;
}

.custom-node-column {
  border: 1px solid black;
  display: flex;
}

.custom-node-column input, p, select {
  width: 150px; /* Ocupa todo el espacio disponible en la columna */
  border: none;
  padding: 5px;
  background-color: cadetblue;
}

.custom-node-column p {
  color: rgb(39, 39, 39);
  font-weight: bold;
}

.custom-node-column select {
  width: 160px; 
}

.add-row-button{
  margin-top: 5px;
}

.delete-row-button {
  background-color: #eb3c3a;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  margin-top: 5px;
}

.delete-row-button:hover {
  background-color: #9a1d1b;
}

