:root {
  --primary: cadetblue;
  --priDarker: #4C7E80;
  --text: #1a1a1a;
  --borders: #414141; 
  /* #posible color: #827081;   BD9EAD;*/

}

.custom-node {
  display: flex;
  flex-direction: column;
  /* Establece la dirección de los elementos */
  background-color: var(--primary);
  padding-bottom: 10px;
  border-radius: 10px;
}

.custom-node-header {
  text-align: center;
  background-color: var(--priDarker);
  border-radius: 10px 10px 0px 0px;
}

.custom-node-header input {
  background-color: var(--priDarker);
  border: none;
  text-align: center;
  font-weight: bold;
  color: var(--text);
  outline: none;
  border-bottom: 1px solid var(--borders);
}

::placeholder {
  color: var(--borders);
  opacity: 1; /* Firefox */
}

.custom-node-row-first{
  display: flex;
  background-color: var(--priDarker);
}

.custom-node-row-first > div{
  border: none;
}
.custom-node-row {
  display: flex;
}

.custom-node-column {
  text-align: center;
  border-bottom: 1px solid var(--borders);
  padding: 5px;
  display: grid;
  align-items: center;
}

.custom-node-column input,
p,
select,
form {
  width: 150px;
  /* Ocupa todo el espacio disponible en la columna */
  border: none;
  padding: 5px;
  background-color: var(--primary);
  text-align: center;
  color: var(--text);
}

.custom-node-column p {
  background-color: var(--priDarker);
  margin: 5px 0px;
  color: rgb(39, 39, 39);

}

.custom-node-column input {
  outline: none;
  border-bottom: 1px solid var(--borders);
}


.custom-node-column select {
  height: 30px;
  border: 1px solid var(--borders);
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  cursor: pointer;
  text-align: left;
  width: 160px;
}

.add-row-button {
  margin-top: 10px;
  width:fit-content;
  border-radius: 13px;
  margin-left: 69%;
  background-color: var(--hover);
  color: var(--text);
}

.delete-row-button {
  background-color: var(--primary);
  --icon-color: #1a1a1a;
  border: none;
  border-radius: 30%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  margin-top: 14px;
  margin-right: 7px;
}

.delete-row-button:hover {
  background-color: #ef4444;
  --icon-color: #ffffff;
}

.select-restriction-btn {
  width: 150px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content label {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 10px;
}

.dropdown-content label:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--hover);
  border: 1px solid black;
  box-shadow: 0px 0px 50px #000000;
}

.dropdown button {
  background-color: inherit;
  border: 1px solid var(--borders);
  cursor: pointer;
  color: var(--text);
}

.dropdown button:hover {
  background-color: var(--hover);
}

.dropdown-content > label > input {
  width: 20px !important;
}
