.custom-node {
  display: flex;
  flex-direction: column;
  /* Establece la dirección de los elementos */
  background-color: white;
  padding: 10px;
}

.custom-node-header {
  text-align: center;
  font-weight: bold;
  color: black;
}

.custom-node-header input {
  background-color: white;
  border: none;
  text-align: center;
  font-weight: bold;
  color: black;
}

.custom-node-row {
  display: flex;
}

.custom-node-column {
  border: 1px solid black;
  display: flex;
}

.custom-node-column input,
p,
select,
form {
  width: 150px;
  /* Ocupa todo el espacio disponible en la columna */
  border: none;
  padding: 5px;
  background-color: cadetblue;
}

.custom-node-column p {
  color: rgb(39, 39, 39);
  font-weight: bold;
}

.custom-node-column select {
  width: 160px;
}

.add-row-button {
  margin-top: 5px;
}

.delete-row-button {
  background-color: #eb3c3a;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  margin-top: 11px;
}

.delete-row-button:hover {
  background-color: #9a1d1b;
}

.select-restriction-btn {
  width: 150px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: cadetblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content label {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 10px;
}

.dropdown-content label:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: cadetblue;
  border: 1px solid black;
  box-shadow: 0px 0px 50px #000000;
}

.dropdown button {
  background-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.dropdown button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.checkinput {
  width: 20px !important;
}
